
<% if user_signed_in? %> 
  <h4><ul> Welcome, <%= current_user.email if !current_user.nil? %></ul></h4>
  <%= link_to 'Group Page', user_invitation_path %>
    
    <ul><%= form_for(@list) do |f| %>
      <%= f.text_field :name, placeholder: 'i.e. Chores' %>
      <%= f.submit %>
      <% end %>
    </ul>
    <div class="container">

    <h5>Lists:</h5>
    <ul class="list-group">
    <% @lists.each do |list| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <p> <%= link_to list.name, list_path(list) %></p> 
        <span class="badge bg-primary rounded-pill"><%= list.tasks.size %></span>
      <% end %>
      </li>
    </ul>

<% else %>
<p> Welcome, please <%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %> to continue. </p>
<% end %>
</div>