<% if user_signed_in? %> 
  <h2><ul> Welcome, <%= current_user.email if !current_user.nil? %></ul></h2>
    
    <ul><%= form_for(@list) do |f| %>
      <%= f.text_field :name, placeholder: 'i.e. Chores' %>
      <%= f.submit %>
      <% end %>
    </ul>
    
    <ul><h3>Lists:</h3>
      <% @lists.each do |list| %>
        <h4> <%= link_to list.name, list_path(list) %></h4>
        <input class="toggle-all" type="checkbox">
        <label for="toggle-all">Completed?</label>
        
      <% end %>
    </ul>
<% else %>
<p> Welcome, please <%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %> to continue. </p>
<% end %>