
<h5><%= @list.name %></h5>
    <p> <%= form_for ([@list, @task]) do |f| %>
        <%= f.text_field :name, placeholder: "Add Task" %>
        <%= f. submit %><br>
      <% end %> </p><br>

      <%= render @list.tasks %><br>

<%= link_to 'Edit List', edit_list_path %><br>
<%= link_to 'Delete List', list_path(@list), method: :delete %><br>
<%= link_to 'All Lists', lists_path %>


  
    