<h3><%= @list.name %></h3>
    <%= form_for([@list, Task.new]) do |f| %>
      <%= f.text_field :name, placeholder: "Create a task" %>
      <%= f. submit %>
    <% end %>
<%= link_to 'Edit List', edit_list_path(@list) %>
<%= link_to 'Delete List', list_path, method: :delete %>
<%= link_to 'Back', lists_path %>
<br>
<%= render @list.tasks %>


