<% if user_signed_in? %>
    <h3> Welcome, <%= current_user.email if !current_user.nil? %></h3><br>

    <%= link_to 'My Tasks', group_member_tasks_path(@group_member) %><br>
    <%= link_to 'New Task', new_user_task_path(current_user) %><br>
     
    <%= link_to 'My Groups', groups_path %>
    <% else %>

    <h5> Welcome, please <%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %> to continue. </h5>

    <% end %>