<% if user_signed_in? %>
    <h3> Welcome, <%= current_user.email if !current_user.nil? %></h3><br>
    

    <%= link_to 'Invite User', new_user_invitation_path %><br><br>
    <%= link_to 'My Lists', lists_path %><br>
    
    
    
    <% else %>

    <h5> Welcome, please <%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %> to continue. </h5>

    <% end %>