<h1> Edit Task - <%= @task.name %> </h1>

<%= form_for([@list, @task]) do |f| %>
    <%= f.text_field :name, placeholder: "Create a task" %>
    <%= f.collection_select :list_id, List.all, :id, :name %>
    <%= f. submit %>
  <% end %>