<h1> Edit Task - <%= @task.name %> </h1>

<%= form_for [@group,@task], url: group_task_path do |f| %>
  <%= f.text_field :name %>
  
  <%= f.collection_select :user_id, @group.users, :id, :email %>



  <%= f.submit "Update" %>
<% end %>