<div class= "container">
<h3>My Tasks </h3>

<% current_user.tasks.each do |t| %><br>
    <ol class="list-group">
  <li class="list-group-item">
  <%= link_to t.name, group_task_path(current_user, t) %>
  <%= t.completed %></li>
  <% end %>
</ol> 

</div>

<br>

<div class="container">
<h3>Group Tasks</h3>
<% @group.tasks.each do |t| %> <br>
    <ol class="list-group list-group">
    <li class="list-group-item">
    <%= t.name %>
    <%= t.user.email %>
    <%= t.completed %> 
    </li>
    <% end %><br>
</ol>
<br>
<%= link_to 'New Task', new_group_task_path(@group) %> <br>

</div>

<br>


    