

<%= link_to 'Assign Tasks', new_group_task_path(@group) %><br><br>

<br>

<h5> Your Tasks </h5>
<% @user_tasks.each do |task| %>
    <%= link_to task.name, group_task_path(@group,task) %><br>
    
<% end %><br>

    
    

    <br><br>


<h5> <%= @group.name %> Tasks: </h5>

<% @group.tasks.most_recent.each do |t| %>
    <%= link_to t.name, group_task_path(@group,t) %>
    <%= t.user.email %><br>
    <% end %>

