<div class="container">
<h1> New Task </h1>
    
<%= form_for [@group, @task], url: group_tasks_path do |f| %> 
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :assign_user %>
    <%= f.collection_select :user_id, @group.users.all, :id, :email %> 
    <%= f.submit 'Assign Task'%>
    <% end %>
    

<br>
<%= link_to 'Create a Group', groups_path %>
</div>