<p> if admin, new tasks form </p>

<% if @group.owner %>
    
<%= form_for [@group, @task], url: group_tasks_path do |f| %> 
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :assign_user %>
    <%= f.collection_select :user_id, @group.users.all, :id, :email %> 
    <%= f.submit 'Assign Task'%>
    <% end %>
    
    <% end %>
<br>
<p> cant come here unless group owner </p>
<br>
<%= link_to 'Create a Group', groups_path %>