<h1>groups</h1>

  <tbody>
    <% @groups.each do |g| %>
      <tr>
        <td><%= link_to g.name, group_path %></td>
        <td><%= link_to 'Show', g %></td>
        <td><%= link_to 'Edit', edit_group_path(g) %></td>
        <td><%= link_to 'Destroy', g, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New group', new_group_path %>