<h1> New Group </h1><br>

<%= form_for(@group) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %> <br>
    <%= f.label :owner? %>
    <%= f.check_box :owner_id %>
    <br>
    <%= f.submit %>
    <% end %>


