<h1> Your Owned Group </h1> 

<%= @group.name %><br>
<% @group.members.each do |u| %>
  <p> <%= u.email %> </p>
<% end %>
<%= form_for @group do |f| %>
  <%= f.label :add_invited_members %>
  <%= f.collection_select :members, User.invitation_accepted, :id, :email %>
<%= f.submit 'Add Member' %>
<% end %>
<br>

<%= link_to 'Back', groups_path %><br>
<%= link_to 'Edit Group', edit_group_path(@group) %> <br>
<%= link_to 'Delete Group', @group, method: :delete, data: { confirm: 'Are you sure?' } %>
