<div class="container">


<h4> Group | <%= @group.name %></h4>


<br>
<br>
<%= form_for @group do |f| %>
  <%= f.label :add_invited_members %>
  <%= f.select :user_id, User.invitation_accepted.collect { |p| p.email }, include_blank: true  %><br>

<%= f.submit 'Add Member', class: "btn btn-primary" %>
<%= link_to 'Invite a Friend', new_user_invitation_path, :class => "btn btn-primary" %>
<% end %>

<br>
</div>
<br>
<div class="container">
<h5> Members of <%= @group.name %> </h5>
   <% @group.memberships.each do |m| %><br>
       <%= m.user.email %>
        <%= link_to 'Delete Member', group_membership_path(@group, m), method: :delete %>
        <% end %>
  
        <br>

        
    

<br>


<br>


<%= link_to 'Edit Group', edit_group_path(@group) %> |
<%= link_to 'Delete Group', @group, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', groups_path %> 
</div>